# AWMS Environment Variables Configuration Template

# General Settings
PORT=3000
NODE_ENV=development # development, production

# Database Configuration (PostgreSQL)
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_DB=awms

# Prisma Connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/awms?schema=public"
